<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Loom</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" sec:autorizar="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarEvento">
                            <i class="fas fa-plus"></i> [[#{evento.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar evento, es la ventana modal -->
        <section th:fragment="agregarEvento">
            <div id="agregarEvento" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{evento.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/evento/guardar}" th:object="${evento}"
                              method="POST" class="was-validated" enctype="multipart/form-data">

                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">[[#{evento.nombre}]]</label>
                                    <input type="text" class="from-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha">[[#{evento.fecha}]]</label>
                                    <input type="date" class="form-control" name="fecha" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{evento.lugar}]]</label>
                                    <input type="text" class="from-control" name="lugar" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{evento.descripcion}]]</label>
                                    <textarea class="from-control" name="descripcion" rows="5"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{evento.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad evento -->
        <section th:fragment="listadoEventos" id="eventos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9"> 
                        <tr th:each="evento, contador : ${eventos}">
                            <div class="card mb-3" style="left: 50%; transform: translateX(-32.5%)">
                                <img th:src="@{${evento.rutaImagen}}" class="img-fluid rounded-start" alt="..."/>
                                <div class="card-body">
                                    
                                   
                                    
                                    <h5 class="card-title"><b>[[${evento.nombre}]]</b></h5>
                                    <div style="color: white">a</div>
                                    <b class="text-center">[[#{evento.fecha}]]</b>
                                    <p class="card-text">[[${evento.fecha}]]</p>
                                    
                                    <b class="text-center">[[#{evento.lugar}]]</b>
                                    <p class="card-text">[[${evento.lugar}]]</p>
                                    
                                    <b class="text-center">[[#{evento.descripcion}]]</b>
                                    <p class="card-text">[[${evento.descripcion}]]</p>


                                    <td sec:autorizar="hasRole('ROLE_ADMIN')">
                                        <div style="color: white">a</div>
                                        <div style="color: white">a</div>
                                        <td> 
                                            <a th:href="@{/evento/eliminar/}+${evento.idEvento}"
                                               class="btn btn-danger">
                                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                        </td>
                                        <td> 
                                            <a th:href="@{/evento/modificar/}+${evento.idEvento}"
                                               class="btn btn-success">
                                                <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a>
                                        </td>
                                    </td>

                                </div>


                            </div>
                        </tr>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarEvento">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/evento/guardar}" 
                          th:object="${evento}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idEvento" th:field="*{idEvento}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{evento/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{evento.nombre}]]</label>
                                                    <input type="text" class="from-control" name="nombre" th:field="*{nombre}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fecha">[[#{evento.fecha}]]</label>
                                                    <input type="date" class="form-control" name="fecha" th:field="*{fecha}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{evento.lugar}]]</label>
                                                    <input type="text" class="from-control" name="lugar" th:field="*{lugar}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{evento.descripcion}]]</label>
                                                    <textarea type="text" class="from-control" name="descripcion" th:field="*{descripcion}" rows="5"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{evento.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${evento.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/evento/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/evento/eliminar/}+${evento.idEvento}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>